.div{

    margin-top: 40px;
    padding : 18px;
width: 100%;
height: auto;
flex-direction: row;
display: flex;
flex-wrap: wrap;
background: rgba(255, 255, 255, 0.08);
order: 3;
height: fit-content;

}

@media (max-width:500px){

.div{
    flex-direction: column;
}

}