.div{

    margin-top: 40px;
    padding : 18px;
height: auto;
flex-direction: row;
display: flex;
flex-wrap: wrap;
order: 3;
height: fit-content;

}

@media (max-width:500px){

.div{
    flex-direction: column;
}

}